<!DOCTYPE html>

  <html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<head>
<meta charset="UTF-8">
<title>cafe management app</title>
</head>
<body>
<a href="/tl/customer" class="btn btn-success">Customer</a>
<a href="/tl/server" class="btn btn-success">Server</a>
<a href="/tl/kitchen" class="btn btn-success">Kitchen</a>
<a href="/tl/manager" class="btn btn-success">Manager</a>
</body>
</html>